.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #e8c0e2;
  height: 200px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  margin-top: 40px;
  font-size: large;
  padding: 20px;
}

.btn-primary {
  color: rgb(0, 0, 0);
  background-color: #e8c0e2;
  border-color: #e8c0e2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
